*{
    box-sizing: border-box;
}
.game{
    margin: auto;
    display: flex;
    width: 50%;
    flex-direction: column;
    size: 50px;
}
#clock{
    text-align: center;
    width: 100%;
    size: 100px;
    font-size: 100px;
    /* border: 2px solid red; */
}
.text-box{
    display: flex;
    flex-wrap: wrap;
}
#reset{
    background-color: rgb(238, 107, 107);
    color: white;
    font-weight: 500;
    margin: 10px 0px;
}
.word{
    margin-right :15px;
}
#inp{
    outline: none;
}